.global-views-back-to-top {
    background: $sapphire;
    border-bottom: 1px solid $sc-color-theme-border-light;
    display: block;
    text-align:center;
    padding-bottom: $sc-padding-lv3;

    a {
        color: #fff;
    }

    @media (min-width: $screen-sm-min) {
        display: none;
    }
}
.global-views-back-to-top a:hover {
    text-decoration: none;
}
.global-views-back-to-top-icon {
    @extend .icon-angle-up;
    color: #fff;
    display: block;
    font-size: 22px;
    padding: $sc-padding-lv2 0 0;
}